body {
    font-family: sans-serif;
}

.content-wrapper {
    padding-top: 50px;
}

.slider-wrapper {
    margin-left: -100px;
    display: block;
    margin-right: 100px;
    float: left;
}

.text-wrapper {
    margin-right: 140px;
    display: block;
}

.slider {
    display: block;
}

.slide {
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    display: inline-block;
}
.slide-down{
    padding-left: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.slide-directions {
    display: inline-block;
    float: right;
}


.slide-direction-button {
    box-shadow: none;
    border-radius: 10px;
    background-color: white;
    padding: 25px 30px;
    margin-bottom: 10px;
    text-decoration: none;
    outline: none;
    border: 1px solid #80808057;
}

.slide-direction-button:hover {
    border: 1px solid #343f8f;
    cursor: pointer;
}

.previous-direction {
    background-image: url('content/arrow-gray-left.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.previous-direction:hover {
    background-image: url('content/arrow-blue-left.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.next-direction {
    background-image: url('content/arrow-gray-right.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.next-direction:hover {
    background-image: url('content/arrow-blue-right.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.image-slide {
    width: auto;
    max-height: 200px;
    border-radius: 10px;
}

.section-title {
    font-size: 30px;
    margin-top: 0px;
    font-weight: bold;
    color: #343f8f;
}
.section-text {
    font-size: 25px;
}

